{
  "env": {
    "browser": true,
    "es2022": true
  },
  "extends": ["eslint:recommended", "react-app"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint"],
  "rules": {
    // 允许空内容的interface
    "@typescript-eslint/no-empty-interface": "off",
    // JSX 自关闭标签尾空格
    "react/jsx-tag-spacing": ["error", {
      "beforeSelfClosing": "always"
    }],
    // 无尾空格
    "no-trailing-spaces": "error",
    // 关键词前后空格
    "keyword-spacing": [
      "error",
      {
        "before": true,
        "after": true
      }
    ],
    // 行内对象花括号首尾空格
    "object-curly-spacing": ["error", "always"],
    // 行内数组方括号首尾空格
    "array-bracket-spacing": ["error", "never"],
    // 函数名前空格
    "space-before-function-paren": ["error", "never"],
    // 块前空格
    "space-before-blocks": ["error", "always"],
    // 二元操作符前后空格
    "space-infix-ops": "error",
    // 对象键后空格
    "key-spacing": "error",
    // 无尾逗号
    "comma-dangle": ["error", "never"],
    // 逗号后空格
    "comma-spacing": [
      "error",
      {
        "after": true,
        "before": false
      }
    ],
    // 2 空格缩进
    "indent": ["error", 2],
    // CRLF
    "linebreak-style": ["error", "windows"],
    // only单引号
    "quotes": ["error", "single"],
    // 无分号
    "semi": ["error", "never"],
    // 允许混用tab和space
    "no-mixed-spaces-and-tabs": "off",
    // JSX attrs 使用双引号
    "jsx-quotes": ["error", "prefer-double"]
  }
}