body {
  padding: 0;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.notification {
  margin: .5em 0;
  text-align: center;
  font-size: 1.2em;
}

.mobile {
  padding: 2em 1em;
  border: 2px solid #ddd;
  border-radius: .6em;
  box-shadow: .2em .3em .5em #eee;
}